<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: skyblue; font-family: Verdana; color:#fff;padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center}
            p{font-size: 16px; text-align: center;}
        </style>
    </head>
    <body>
        <% include partials/nav.ejs %>  
        <h1>Contact here for anything.................. </h1>
        <p>Enjoy the paty of developing a best application online</p>
    </body>
</html>