<!DOCTYPE html>
<html>
    <head>
       <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Welcome to the world of JS </h1>
        <h2>Profile Of <%= person%> </h2>
        <p><strong>Age: </strong><%= data.age%></p>
        <p><strong>Job: </strong><%= data.job%></p>
        <p>Hobbies</p>
        <ul>
            <% data.hobbies.forEach(function(item){ %>
                <li><%= item %></li>
            <% }); %>
        </ul>
        <p>Enjoy the paty of developing a best application online</p>
    </body>
</html> 